.footer {
  width: 100%;
  padding: 2rem;
  position: relative;
  background-color: $footer_default_gary_color;
  color: $footer_font_gary_color;

  &__container {
    width: 100%;
    display: flex;
    padding: 2rem 0;
    border-bottom: 1px solid $footer_border_gary_color;

    &__about {
      flex: 0 0 30%;
      font-size: 1.3rem;
      line-height: 2.5rem;

      &--logo {
        text-align: center;
        margin-bottom: 2rem;

        img {
          width: 8rem;
        }
      }
    }

    &__content {
      flex: 1;

      &--newsletter {
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $footer_border_gary_color;

        .title {
          width: 50%;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        .form {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          input {
            padding: 2rem 1rem;
            margin: 0;
            border: 0;
            outline: 0;
            width: 28.9rem;
            background-color: $footer_input_gary_color;
            color: $white_color;
            text-transform: uppercase;
            font-weight: 700;
          }

          button {
            padding: 2rem 3rem;
            text-transform: uppercase;
          }
        }
      }

      &--info {
        display: flex;
        justify-content: space-between;

        .item {
          flex: 1;

          .title {
            font-size: 1.3rem;
            padding: 2rem 0;
            color: $footer_title_font_gary_color;
            text-transform: uppercase;
          }

          .list {
            ul {
              li {
                position: relative;
                font-size: 1.1rem;
                margin-left: 2rem;
                padding: .3rem;

                &::before {
                  content: '\e93f';
                  font-family: "icomoon";
                  position: absolute;
                  left: -2rem;
                  top: 50%;
                  transform: translateY(-50%);
                  font-size: .9rem;
                  color: $footer_title_font_gary_color;
                }

                a {
                  color: $footer_font_gary_color;
                }
              }
            }
          }

          .info {
            &--row {
              display: flex;
              align-items: center;
              margin-bottom: 2rem;
              font-size: 1.2rem;

              span {
                font-size: 2rem;
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }
  }

  &__copyright {
    padding: 3rem 0 1rem;
    text-align: center;
    font-size: 1.2rem;
  }
}