/* colors */
$white_color: #ffffff;
$black_color: #000000;

$default_red_color: #ec4c4c;
$default_green_color: #2ac48f;
$default_gary_color: #f1f1f1;
$primary_gary_color: #878686;

$font_gray_color: #7c7c7c;


$default_bg_gary_color: #eaeaea;
$default_list_bullet_color: #d0d0d0;


$border_gary_color: #d0d0d0;


$box_gray_color: #7c7c7c;



$header_default_gary_color: #333333;
$header_hover_gary_color: #4c4c4c;

$slider_yellow_color : #fff8a8;

$special_gradiant_dark: #193a43;
$special_gradiant_light: #175667;
$special_gradiant_darken: #1b2b30;

$footer_default_gary_color: #2d2d2d;
$footer_font_gary_color: #dddddd;

/* default values */

$rem_default: 62.5%;
$font_default: "MyriadPro";
$max_width_value: 120rem;
$box_shadow: 0px 0px 10px $box_gray_color;